body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.date-picker__container {
  margin: 10px 0px 30px 10px;
  width: 250px;
}

.date-picker__label {
  display: inline-block;
  padding-bottom: 10px;
}

.date-picker__feature {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  height: 25px;
  border: 1px solid gray;
}

#date-picker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding-left: 5px;
  font-size: 0.8rem;
  font-family: sans-serif;
} 

#date-picker:hover {
  cursor: pointer;
}

.calendar-icon {
  height: 80%;
  object-fit: fill;
}

.videochat-box {
  box-sizing: content-box;
  display: flex;
  width: 405px;
  height: calc(130px + 2*25px);
  border: 10px solid #ef5f19;
  margin: 0px auto;
  position: relative;
  top: 40px; 
  animation-name: videochat-box;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
}

@keyframes videochat-box {
  from {top: -400px}
  to {top: 40px}
}

.videochat-box:hover {
  cursor: pointer;
}

.img__container {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 3px solid #8b97a4;
  border-radius: 100%;
  align-self: center;
  margin-left: 20px;
}

.videochat-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 30px;
}


.videochat-title__container {
  font-size: 20px;
  font-weight: bold;
}

.videochat-text {
  font-size: 16px;
}

.uppercase-title {
  text-transform: uppercase;
}

.rotate-icon-135 {
  transform: rotate(135deg);
  transition: 1s;
}

.change-border-color-182d4a {
  border-color: turquoise;
}

.rotate-icon-45 {
  transform: rotate(45deg);
  transition: 1s;
}

.bg-lightblue {
  background-color: lightblue;
}

.change-border-color-rgb {
  border-width: 5px;
  border-bottom-color: rgb(0, 200, 0);
}

.no-display {
  display: none;
}

.calendar__container {
  position: absolute;
  top: 70px;
  left: 10px;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.btn {
  width: 17px;
  height: 50px;
  padding: 0 10px;
}
.btn:hover {
  cursor: pointer;
}

.month-year {
  width: 100px;
}

.days-of-the-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-header {
  font-size: 0.85rem;
}

.days-of-the-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  text-align: center;
  margin-top: 10PX;
}

.day {
  cursor: pointer;
  padding: 10px 0;
}

.day:hover {
  color: #ef5f19;
  font-weight: 700;
}

